body {
  background-color:rgb(125, 125, 125);  
  }

  .open-button {
    position: fixed;
    top: 50px;
    left:50px;
    width: 290px;
   }
   .form-popup {
    display: none;
    position: fixed;
}
.form-container .btn {
  background-color: #1976D2;
  opacity: 0.7;
}
.form-container input[type=text] {
  width: 100%;}